
@layer components {
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0) scale(1) rotate(0deg);
    }
    50% {
      transform: translateY(-10px) scale(1.03) rotate(3deg);
    }
    100% {
      transform: translateY(0) scale(1) rotate(0deg);
    }
  }
  
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 400% 50%;
    }
  }

  .hover-scale {
    @apply transition-transform duration-200 hover:scale-105;
  }

  .glass-button-icon {
    transform: translateZ(15px);
  }
}
